.wide_block{
  width:100%;
  display: flex;
  flex-wrap:nowrap;
  flex-direction: row;
  justify-content:flex-start;
  padding: 20px;
}

.row_block{
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.test_blue{
  background-color: blue;
}

.test_red{
  background-color: red;
}

.list_block{
  display: flex;
  flex-direction: column;
}

.img{
  padding: 10px;
}

.item_block{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.item{
  flex:1;
}
